body {
  margin: 0;
  padding: 0;
  background-color: rgb(226, 226, 226);
  background-size: cover;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 30px;
  max-width: 600px;
  height: 520px;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  background-color: rgba(45, 167, 248, 0.966);
  box-shadow: 5px 1px 10px #0d3283;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login
  .container
  #login-row
  #login-column
  #login-box
  #login-form
  #register-link {
  margin-top: -85px;
}
